@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  *, *::after, *::before{
    box-sizing: border-box;
  }
  .svgClass{
    width: 10px;
  }

  .svgClassChatbar{
    width: 18px;
  }

  .svgClassLogin{
    width: 30px;
  }

  .svgClassHome{
    width: 15px;
  }